flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "main flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "086fbe7415add67f",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/up/device/:imei",
        "method": "put",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "bbf626ccfae366e0",
                "8da762b90d8e6a77",
                "6f0631f7f2fd0b92",
                "d8fedde14daba7df"
            ]
        ],
        "icon": "font-awesome/fa-file-video-o"
    },
    {
        "id": "bbf626ccfae366e0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "http put payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "8da762b90d8e6a77",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "always ok",
        "statusCode": "204",
        "headers": {},
        "x": 420,
        "y": 480,
        "wires": [],
        "info": "always ok, so abusing is a bit harder\r\nand the device can't do anything about errors anyways"
    },
    {
        "id": "6f0631f7f2fd0b92",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "da4fd5903d085e66",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "verify size",
        "func": "msg.filesize = msg.payload.length\nvar lookup = global.get(\"devicenames\");\n\nmsg.succes = false;\nif(msg.filesize < 20e3)\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"size \"+(msg.filesize/1000) + 'k' });\n    return msg;\n}\nnode.status({ fill: \"green\", shape: \"ring\", text: \"size \" + (msg.filesize / 1000) + 'k' });\nmsg.succes = true;\nlookup[msg.req.params.imei].succes++;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "392a8c0d5b7556ba"
            ]
        ]
    },
    {
        "id": "2e6608c80cd362d2",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "Catchall error reporter",
        "scope": null,
        "uncaught": true,
        "x": 980,
        "y": 100,
        "wires": [
            [
                "2dfab53ffb3c5b13",
                "b36abf7d8082b51e"
            ]
        ]
    },
    {
        "id": "2dfab53ffb3c5b13",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "node catch ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 180,
        "wires": []
    },
    {
        "id": "29498344815766ff",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "post to slack",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hooks.slack.com/triggers/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",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1630,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b36abf7d8082b51e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "format report for slack",
        "func": "    \nif(msg.error.message.includes(\"too small (0) for device Nestwacht 019\")){\n    msg = null;\n    return msg;\n}\nif (!msg.error.message.includes(\"too small\"))\n{\n    msg = null;\n    return msg;\n\n}\nmsg.payload = {\n    message: JSON.stringify(msg.error,null,null)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 100,
        "wires": [
            [
                "29498344815766ff",
                "b8f9e2b3600279e1"
            ]
        ]
    },
    {
        "id": "02370505228e9714",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "throw test error",
        "func": "\nthrow \"test error\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b8f9e2b3600279e1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 160,
        "wires": []
    },
    {
        "id": "d8fedde14daba7df",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set device_id",
        "func": "\nvar lookup = global.get(\"devicenames\")\n\nmsg.device_id = lookup[msg.req.params.imei].name;\nif (msg.device_id == undefined){\n    return null;\n}\nmsg.video_id=msg.req.params.video_id\nnode.status({ fill: \"gray\", shape: \"square\", text: msg.device_id});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "da4fd5903d085e66"
            ]
        ]
    },
    {
        "id": "91999b8b7192a1a8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "simulate error",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 40,
        "wires": [
            [
                "02370505228e9714"
            ]
        ]
    },
    {
        "id": "0b437d259e222b59",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set device name lookup",
        "func": "global.set(\"devicenames\",\n{\n        \"350976657191281\": {\n                \"name\": \"TENTEST\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976656615603\": {\n                \"name\": \"TENTEST1\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191182\": {\n                \"name\": \"TEN010\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191398\": {\n                \"name\": \"TEN009\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657236987\": {\n                \"name\": \"TEN008\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191349\": {\n                \"name\": \"TEN007\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657066723\": {\n                \"name\": \"TEN006\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191174\": {\n                \"name\": \"TEN005\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191158\": {\n                \"name\": \"TEN004\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191125\": {\n                \"name\": \"TEN003\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },    \n        \"350976657191802\": {\n                \"name\": \"TEN002\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \"350976657191000\": {\n                \"name\": \"TEN001\",\n                \"failed\": 0,\n                \"succes\": 0,\n                },\n        \n}\n)\nglobal.set(\"deviceErrors\", 0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2e11973a9ad0996f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "0b437d259e222b59"
            ]
        ]
    },
    {
        "id": "3067981866e6e23e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set shared_tennet_dir",
        "func": "const filePath = \"/home/Donny/shared_tennet/\";\n\nmsg.payload = 'mkdir -p ' + filePath;\nmsg.filepath = filePath;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "6bfc15cbefa8efe3",
                "c7cbbe7b84dd1429",
                "1e65d4080d957c73"
            ]
        ]
    },
    {
        "id": "8e2b167f8584e53c",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2000,
        "y": 380,
        "wires": [
            [
                "37ea52b344d7607d",
                "575da2bc5d744908"
            ]
        ]
    },
    {
        "id": "2d6778dc84ae252c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set filename",
        "func": "msg.filename = msg.filepath + \"/\" + Date.now().toString() + \".jpeg\",\nmsg.payload = msg.req.body;\nnode.status({fill:\"green\",shape:\"circle\",text:msg.filename});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 380,
        "wires": [
            [
                "8e2b167f8584e53c"
            ]
        ]
    },
    {
        "id": "37ea52b344d7607d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2170,
        "y": 380,
        "wires": []
    },
    {
        "id": "6bfc15cbefa8efe3",
        "type": "exec",
        "z": "f6f2187d.f17ca8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "shared_tennet_dir",
        "x": 1230,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "eb064ef7f9b68905",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set device_id_dir",
        "func": "msg.filepath = msg.filepath + \"/\" + msg.device_id;\nmsg.payload = 'mkdir -p ' + msg.filepath;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 380,
        "wires": [
            [
                "b50cc16066b9f8c7",
                "1e65d4080d957c73",
                "2d6778dc84ae252c"
            ]
        ]
    },
    {
        "id": "b50cc16066b9f8c7",
        "type": "exec",
        "z": "f6f2187d.f17ca8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Device_id",
        "x": 1680,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c7cbbe7b84dd1429",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set weeknumber_id",
        "func": "const filePath = \"/home/Donny/shared_tennet/\";\nconst weekNumber = global.get(\"weekNumber\");\nconst date = new Date();\nconst year = date.getFullYear();\n\n\nmsg.filepath += year + \"_\" + weekNumber\n// Check if the directory exists (basic check)\n\nmsg.payload = 'mkdir -p ' + msg.filepath;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 380,
        "wires": [
            [
                "eb064ef7f9b68905",
                "9df37342ab1c4a4c",
                "1e65d4080d957c73"
            ]
        ]
    },
    {
        "id": "eff53b95ca001d26",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set device name lookup",
        "func": "// Get the current date\nconst today = new Date();\n\n// Get the first day of the year\nconst firstDayOfYear = new Date(today.getFullYear(), 0, 1);\n\n// Calculate the number of days by subtracting the time values (in milliseconds)\n// of each date, then converting to days.\nconst dayOfYear = Math.floor((today.getTime() - firstDayOfYear.getTime()) / (1000 * 60 * 60 * 24));\n\n// Now, calculate the week number based on the day of the year.\nconst weekNumber = Math.ceil((dayOfYear + firstDayOfYear.getDay() + 1) / 7);\n\n// Set the global counter.\nglobal.set('weekNumber', weekNumber);\n\n// Output the week number in the message payload for easy debugging.\nmsg.payload = weekNumber;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "3f09ed803e342061"
            ]
        ]
    },
    {
        "id": "a40d674166eb4318",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "weekly counter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * 1",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "eff53b95ca001d26",
                "9c8989f75ac6e632"
            ]
        ]
    },
    {
        "id": "3f09ed803e342061",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "WeekNumber",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c8989f75ac6e632",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "WeekNumber",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "9df37342ab1c4a4c",
        "type": "exec",
        "z": "f6f2187d.f17ca8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "weekNumber",
        "x": 1450,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1e65d4080d957c73",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug Filesystem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "98edb7199d3902a2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "view device upload \\n fails and successes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "db50c3d7e731ef5f"
            ]
        ]
    },
    {
        "id": "b78799ca44f38769",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Not existsing dbg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 660,
        "wires": []
    },
    {
        "id": "db50c3d7e731ef5f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Add deviceerror",
        "func": "var lookup = global.get(\"devicenames\")\nmsg.payload = lookup;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "b78799ca44f38769"
            ]
        ]
    },
    {
        "id": "aef923500d3fc6fc",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Click the inject to view the failed and succes uploads per device \\n the output is viewable in the debug window",
        "info": "",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "392a8c0d5b7556ba",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Add deviceerror",
        "func": "var lookup = global.get(\"devicenames\")\nif(msg.succes){\n    lookup[msg.req.params.imei].succes++; \n    global.set(\"devicenames\", lookup);\n    node.status({ fill: \"green\", shape: \"ring\", text: \"name: \" + lookup[msg.req.params.imei].name + \"\\nfailed: \" + lookup[msg.req.params.imei].failed + \"\\tsucces: \" + lookup[msg.req.params.imei].succes });\n    return msg;\n} else{\n    lookup[msg.req.params.imei].failed++; \n    node.status({ fill: \"red\", shape: \"ring\", text: \"name: \" + lookup[msg.req.params.imei].name + \"\\nfailed: \" + lookup[msg.req.params.imei].failed + \"\\tsucces: \" + lookup[msg.req.params.imei].succes });\n    global.set(\"devicenames\", lookup);\n    throw new Error(\"size was to small skipping this picture\");\n}\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "3067981866e6e23e"
            ]
        ]
    },
    {
        "id": "a060c4b55e6d3f59",
        "type": "Aleph Save Blob",
        "z": "f6f2187d.f17ca8",
        "name": "Manometer Pilot Storage",
        "x": 2410,
        "y": 460,
        "wires": [
            [
                "441d48f520f42fe3"
            ]
        ]
    },
    {
        "id": "575da2bc5d744908",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "setup 4 blob",
        "func": "const weekNumber = global.get(\"weekNumber\");\nconst date = new Date();\nconst year = date.getFullYear();\nmsg.payload = msg.filename;\nmsg.weeknumber = year + \"_\" + weekNumber;\nmsg.blobName = \"TennetManometer/\" + msg.weeknumber + '/' + msg.device_id + '/' + Date.now().toString() + \".jpeg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 460,
        "wires": [
            [
                "a060c4b55e6d3f59",
                "afebb94621fd8037"
            ]
        ]
    },
    {
        "id": "441d48f520f42fe3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "azure output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2650,
        "y": 460,
        "wires": []
    },
    {
        "id": "afebb94621fd8037",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2340,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d0de6dafc92b5b9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-azure-blob-storage-aleph": "0.5.0"
        }
    }
]
